{% load i18n %} 
{% block subject %} 
{% blocktrans %}Videoflix - Reset your Password{% endblocktrans %} 
{% endblock subject %} 
{% block html_body %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Reset your Password{% endblock %}</title>
  </head>

  <body>
    <section style="font-family: sans-serif; color: #535456; font-size: 16px">
      <br />

      <div class="greeting-text">
        <span>Hello,</span>
        <br />
        <span
          >{% blocktrans %}We recently received a request to reset your
          password. If you made this request, please click on the following link
          to reset your password:{% endblocktrans %}</span
        >
      </div>
      <br />
      <p>
        <a
          style="
            border: 0;
            padding: 12px 24px;
            border-radius: 40px;
            background-color: #2e3edf;
            color: #ffffff;
            font-weight: 700;
            font-size: 18px;
            text-wrap: nowrap;
            width: fit-content;
            text-decoration: none;
          "
          href="{{ protocol }}://{{ domain }}/{{ url|safe }}"
          class="vf-btn"
        >
          {% trans "Reset Password" %}
        </a>
      </p>
      <br />
      <span>
        {% trans "Please note that for security reasions, this link is onlyvalid for 24 hours." %}
    </span
      >
      <br />
      <br />
      <span>{% trans "If you did not request a password reset, please ignore thisemail." %}
      </span
      >
      <br />
      <br />
      <span>{% trans "Best regards," %}</span>
      <br />
      <br />
      <span>{% trans "Your Videoflix Team." %}</span>
      <br>
      <br>
      <div style="width: 100%">
        <img
          src="http://kevin-mueller-dev.de/assets/img/vf-logo.png"
          alt="videoflix-logo"
        />
      </div>
    </section>
  </body>
</html>
{% endblock html_body %}
