<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activate your account</title>
</head>

<body>
    <h2>Hello {{ user.username }},</h2>
    <p>You're receiving this email because you need to finish the activation process for your account.</p>
    <p>Please click the link below to activate your account:</p>
    <a href="{{ protocol }}://{{ domain }}/{{ url|safe }}">Activate your account</a>
    <p>Thanks for using our service!</p>
</body>

</html>